 ::ng-deep .snackbar-success {
  background-color: green;
  color:white;
}
::ng-deep .snackbar-fail{
  background-color: red;
  color:  white;
}
::ng-deep .snackbar-fail .mat-simple-snackbar-action,::ng-deep .snackbar-success .mat-simple-snackbar-action{
color: white;
}

.containerLogin {
  text-align: center;
  width: 30rem;
  margin: 40px auto;
  border-radius: 30px 30px 0px 0px;
  // box-shadow: 15px 15px 20px grey;
}

.header {
  color: white;
  text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.header h1 {
  margin: auto;
  font-size: 35px;
}

.form-body {
  margin: auto;
  width: 80%;
}

.form-body mat-form-field {
  font-size: 15px;
  margin-top: 3rem;
  display: block;
}

.button {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: white;
  padding: 2px 20px ;
  font-size: 17px;

}

.anchor {
  display: block;
  margin-top: 10px;
}
