
<div class="container" fxFlex="80%" fxFlex.lt-md="100%">
  <mat-card>
  <div class="showVehicleTemplate">
    <mat-card-header>
      VEHICLE DETAILS
    </mat-card-header>

  <form [formGroup]="vehicleDetails" (ngSubmit)="onNext()">

  <mat-radio-group aria-label="Selet Vehicle" required formControlName="condition" (change)="getChassisNo()">
    <mat-radio-button color="primary" value="old" class="vehicletype">OLD</mat-radio-button>
    <mat-radio-button color="primary" value="new" class="vehicletype">NEW</mat-radio-button>
  </mat-radio-group>

  <div class="vehicleDetailContainer" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

    <div class="firstColumn" fxFlex="50%">
      <mat-form-field appearance="outline" >
        <mat-label>Brand</mat-label>
        <input matInput type="text" required formControlName="model">
        <mat-error>Please Enter Model Name</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Engine No</mat-label>
        <input matInput type="text" required formControlName="engine_no">
        <mat-error>Please Enter Engine No</mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>{{oldCar?"Vehicle Reg No":"Chassis Number"}}</mat-label>
          <input matInput type="text" required formControlName="vehicle_no">
          <mat-error>Please Enter Vehicle Reg. No.</mat-error>
        </mat-form-field>


    </div>

    <div class="secoundColumn" fxFlex="50%">
      <mat-form-field appearance="outline" >
        <mat-label>Car Name</mat-label>
        <input matInput type="text" required formControlName="car_name">
        <mat-error>Please Enter Car Name</mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput type="text" required formControlName="color">
          <mat-error>Please Enter Color</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fuel Type</mat-label>
          <mat-select matNativeControl required formControlName="fuel_type">
            <mat-option value="Diesel">Diesel</mat-option>
            <mat-option value="Petrol">Petrol</mat-option>
            <mat-option value="CNG">CNG</mat-option>
          </mat-select>
          <mat-error>Please Enter Fuel Type</mat-error>
        </mat-form-field>
    </div>

      </div>

<div class="carDocuments">
<mat-card-header>VEHICLE DOCUMENTS</mat-card-header>
</div>
<div  fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

  <div fxFlex="50%" >
    <mat-form-field appearance="outline">
      <div class="documentheading" fxLayoutAlign="space-between">
        <span class="document_name">Registration Certificate</span>
        <input matInput formControlName="registration" readonly hidden>
        <button mat-flat-button color="primary" type="button" (click)="registration.click()">Choose File</button>
      </div>
      <div *ngIf="documents.registration"><img [src]="documents.registration"></div>
      <input type="file" accept="image/*" (change)="upload($event,'rc')" required #registration hidden>
      <mat-error>Upload Registration Certificate</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="50%">
    <mat-form-field appearance="outline">
      <div class="documentheading" fxLayoutAlign="space-between">
        <span class="document_name">Purchase Agrement</span>
        <input matInput readonly formControlName="purchaseAgrement" hidden>
        <button mat-flat-button color="primary" type="button" (click)="purchaseAgre.click()">Choose File</button>
      </div>
      <div *ngIf="documents.purchaseAgrement"><img [src]="documents.purchaseAgrement"></div>
      <input type="file" accept="image/*" (change)="upload($event,'purchaseAgre')" required  hidden #purchaseAgre>
      <mat-error>Upload Purchase Agreement</mat-error>
    </mat-form-field>
  </div>
</div>

<div class="purchasedetails" >
  <mat-card-header>PURCHASE DETAILS</mat-card-header>
  <div class="purchaseAmt" fxLayout="row" fxLayoutGap.gt-sm="10px" fxLayout.lt-md="column" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" >
      <mat-label>Total Car Amount</mat-label>
      <input matInput type="number" required formControlName="totalAmount" #total (keyup)="calculateBalanced(total.value,paid.value)">
      <mat-error>Enter Total Car Amount</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Paid Amount</mat-label>
      <input matInput type="number" formControlName="paidAmount" #paid (keyup)="calculateBalanced(total.value,paid.value)">
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Balanced Amount</mat-label>
      <input matInput type="number" formControlName="balanceAmount" [value]="balancedAmt" readonly>
      <mat-error>Nagative Number not Accepted</mat-error>
    </mat-form-field>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="action_button">
  <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
<button mat-flat-button color="primary" type="submit">Next</button>
</div>
</form>
</div>

    </mat-card>
</div>
