.container{
  margin: 0 auto;
}
.vehicle_form{
  .mat-form-field {
    width: 100%;
  }
}
.imagecontainer{
  margin-top: 8px;
  img{
    width: 100%;
  }
}

.vehicletype{
margin-left: 10px;
margin-bottom: 6px;
}


.documentheading{
  font-size: 14px;
  font-weight: bold;
  button{
    width: 120px !important;
    padding: 0px 10px;
  }
}
.document_name{
  margin-top:10px;
 }
.action_button{
  button{
    margin:5px;
  }
}

.container_header{
  margin-left:-30px;
}
