.container{
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
}

mat-toolbar{
  height: 35px;
  margin-bottom: 0.2rem;
}
.mat-radio-group{
  margin: 10px;
  display:flex ;
  width:120px;
  font-size:1em;
  justify-content: space-between;
}


button{
  margin:0px 5px;
}
img{
width: 100%;
}
