
<app-topwidget></app-topwidget>

<div class="container" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
 <div class="salesbymonth" fxFlex="45%" fxFlex.xs="90%" fxFlex.sm="90%">
  <mat-toolbar color="primary">Sales By Months</mat-toolbar>
    <app-salesbymonth ></app-salesbymonth>
 </div>

 <div class="purchasebymonth" fxFlex="45%" fxFlex.xs="90%" fxFlex.sm="90%">
  <mat-toolbar color="primary">Purchase By Month</mat-toolbar>
   <app-purchasebymonth ></app-purchasebymonth>
 </div>
</div>
