
mat-toolbar{
    height: 50px;
}

.header-name{
    mat-icon{
        margin:0px 10px;
    }
}
.header-action{
    .mat-button{
        margin: 0px 10px;
        font-size: 16px;
    }
    .mat-button:hover{
        background-color: rgba(0, 0, 0, 0.411);
    }
   
}
