<div class="container" fxFlex="80%" fxFlex.lt-sm="80%" fxFlex.xs="100%" fxLayout="column wrap">
  <mat-card class="mat-elevation-z8" fxLayout="column wrap"
    fxLayoutAlign="space-between centre">

    <form [formGroup]="saleForm" (ngSubmit)="!id?submitSale():updateSale()">

      <mat-card-header class="mat-card-header" color="primary">
        Vehicle No
      </mat-card-header>
      <p><u>{{!id?"Please enter vehicle number to proceed further":"Vehicle no can't be edited"}}</u>
      </p>

      <div class="multiselect-dropdown" *ngIf="!id">
        <ng-multiselect-dropdown  placeholder="Search Vehicle no" [data]="dropDownList"
          [settings]="dropdownSettings"
          (click)="getPurchases()"
          (input)="searchPurchase($event)"
          (onSelect)="selectedVehicle($event)"
          (onDeSelect)="deselectVehicle($event)"
          >
        </ng-multiselect-dropdown>
        <mat-error *ngIf="(saleForm.touched||saleForm.invalid)&&saleForm.get('vehicle_no')?.hasError('required')">Vehicle no is required</mat-error>
      </div>

      <mat-form-field appearance="outline" *ngIf="id">
        <mat-label>Vehicle No</mat-label>
        <input type="text" formControlName="vehicle_no" matInput>
      </mat-form-field>

      <div fxLayout="column wrap">
        <mat-card-header class="mat-card-header" color="primary">
          Buyer details
        </mat-card-header>
        <p><u>Please enter buyer details below</u></p>

        <div class="outer_wraper" fxLayout="row" fxLayoutGap.gt-xs="10px" fxLayout.xs="column">
          <div class="column1">
            <mat-label>Full Name</mat-label>
            <mat-form-field appearance="outline">
              <input type="text" matInput required formControlName="fullName" />
              <mat-error *ngIf="saleForm.get('fullName')?.hasError('required')">Full name is required</mat-error>
              <mat-error
                *ngIf="saleForm.get('fullName')?.hasError('pattern')&&!saleForm.get('fullName')?.hasError('minlength')">Full
                name must contain alphabets only</mat-error>
              <mat-error
                *ngIf="saleForm.get('fullName')?.hasError('minlength') &&!saleForm.get('fullName')?.hasError('pattern')">Full
                name sould be at least 5 charecters long</mat-error>
            </mat-form-field>
            <mat-label>Email</mat-label>
            <mat-form-field appearance="outline">

              <input type="email" matInput required formControlName="email" />
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-label>Phone no</mat-label>
            <mat-form-field appearance="outline">
              <input type="text" matInput required formControlName="phone_no" />
              <mat-error *ngIf="saleForm.get('phone_no')?.hasError('required')">Phone no is required</mat-error>
              <mat-error
                *ngIf="saleForm.get('phone_no')?.hasError('pattern') &&!saleForm.get('phone_no')?.hasError('minlength')">Please
                enter a valid phone number</mat-error>
              <mat-error
                *ngIf="saleForm.get('phone_no')?.hasError('minlength') && !saleForm.get('phone_no')?.hasError('pattern')">Please
                enter 10 digit phone number</mat-error>
            </mat-form-field>
          </div>
          <div class="column2">
            <mat-label>Address</mat-label>
            <mat-form-field appearance="outline">

              <input type="text" matInput required formControlName="address" />
              <mat-error>Address is required</mat-error>
            </mat-form-field>
            <mat-label>Postal/Zip code</mat-label>
            <mat-form-field appearance="outline">
              <input type="text" matInput required formControlName="postal_code" />
              <mat-error *ngIf="saleForm.get('postal_code')?.hasError('required')">Zip code is required</mat-error>
              <mat-error
                *ngIf="saleForm.get('postal_code')?.hasError('minlength') &&!saleForm.get('postal_code')?.hasError('pattern')">Zip
                code must be 6 digits long</mat-error>
              <mat-error
                *ngIf="saleForm.get('postal_code')?.hasError('pattern') &&saleForm.get('postal_code')?.hasError('minlength')">Please
                enter valid postal code</mat-error>
            </mat-form-field>
            <mat-label>Sold date</mat-label>
            <mat-form-field appearance="outline">
              <input type="date" matInput required formControlName="solddate">
              <mat-error *ngIf="saleForm.get('sold_date')?.hasError('required')">Sold date is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm=".5rem">
          <div>
            <mat-label>Sold Amount</mat-label>
            <mat-form-field appearance="outline">
              <input type="number" matInput required formControlName="sold_amount" #soldAmt (keyup)="balanceAmount(+soldAmt.value,+paidAmt.value)"/>
              <mat-error *ngIf="saleForm.get('sold_amount')?.hasError('required')">Sold amount is required</mat-error>
              <mat-error *ngIf="saleForm.get('sold_amount')?.hasError('pattern')">Sold amount can't be less than 0 INR</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-label>Paid Amount</mat-label>
          <mat-form-field appearance="outline">
            <input type="number" matInput formControlName="paid_amount" #paidAmt (keyup)="balanceAmount(+soldAmt.value,+paidAmt.value)"/>
          </mat-form-field>
          </div>
          <div>
            <mat-label>Balance Amount</mat-label>
          <mat-form-field appearance="outline">
            <input type="number" matInput required formControlName="balance_amount" #balanceAmt readonly/>
            <mat-error *ngIf="saleForm.get('balance_amount')?.hasError('required')">Balance Amount Required</mat-error>
            <mat-error *ngIf="saleForm.get('balance_amount')?.hasError('pattern')">Nagitive Number Not Accepted</mat-error>
          </mat-form-field>
          </div>

        </div>

        <mat-card-header class="mat-card-header" color="primary">
          Buyer documents
        </mat-card-header>
        <p><u>Please upload below documents (only Images)</u></p>

        <div fxLayoutAlign="space-between centre" fxLayout.lt-sm="column wrap" fxLayoutGap=".5rem">

          <div class="image_container" fxLayoutAlign="space-between centre" fxLayout="row wrap" fxFlex.gt-sm="50%"
          fxFlex.sm="50%">

          <span fxLayout.lt-sm="50%">Bill photo*</span>
          <img [src]=" saleForm.value.documents?.bill" class="image_style" alt="upload bill here" (click)="bill.click()"
            fxLayout.lt-sm="50%" />
          <input type="file" hidden required #bill (change)="documentChange($event,'bill')" accept="image/*"/>
          <mat-error *ngIf="saleForm.get('documents')?.value.bill===null &&saleForm.value.documents.touched" class="custom-error">Bill is required</mat-error>
        </div>

          <div class="image_container" fxLayoutAlign="space-between centre" fxLayout="row wrap" fxFlex.gt-sm="50%"
            fxFlex.sm="50%">
            <span>Adhaaar card*</span>
            <img [src]=" saleForm.value.documents?.adhaar_card" class="image_style" alt="upload adhaar card here"
              (click)="adhaarCard.click()" />
            <input type="file" hidden required #adhaarCard (change)="documentChange($event,'adhaarCard')"
              accept="image/*" />
              <mat-error *ngIf="saleForm.value.documents.touched&& saleForm.get('documents')?.value.adhaar_card" class="custom-error">Adhaaar card is required</mat-error>
          </div>
        </div>

        <div fxLayoutAlign="space-between centre" fxLayout.lt-sm="column wrap" fxLayout.gt-sm="row" fxLayoutGap=".5rem">
          <div class="image_container" fxLayoutAlign="space-between centre" fxLayout="row wrap" fxFlex.gt-sm="50%"
            fxFlex.sm="50%">
            <span>PAN card*</span>
            <img [src]=" saleForm.value.documents?.pan_card" class="image_style" alt="upload PAN card here"
              (click)="pan_card.click()" />
            <input type="file" hidden required #pan_card (change)="documentChange($event,'pan')" accept="image/*" />
            <mat-error *ngIf="saleForm.value.documents.touched&& saleForm.get('documents')?.value.pan_card===null" class="custom-error">Pan card is required</mat-error>
          </div>

          <div class="image_container" fxLayoutAlign="space-between centre" fxLayout="row wrap" fxFlex.gt-sm="50%"
            fxFlex.sm="50%">
            <span>Agreement *</span>
            <img [src]="saleForm.value.documents?.agreement" class="image_style" alt="upload agreement here"
              (click)="agreement.click()" />
            <input type="file" hidden required #agreement (change)="documentChange($event,'agreement')"
              accept="image/*" />
              <mat-error *ngIf="saleForm.value.documents.touched&& saleForm.get('documents')?.value.agreement===null" class="custom-error">Agreement is required</mat-error>
          </div>
        </div>

        <div  fxLayoutAlign="center">
          <button mat-raised-button class="theme-background-color btn-color" type="button"
            (click)="route.navigateByUrl('/admin/sales/saleslist')">Cancel</button>
          <button mat-raised-button class="button-background-color btn-color" #btnSub>Submit</button>
        </div>

      </div>
    </form>
  </mat-card>
</div>
