.container{
  margin: 1rem auto;
}
mat-toolbar{
  height: 3.5rem;
}
mat-form-field{
  width: 100%;
}
button{
  height: fit-content;
}
mat-toolbar{
  margin: .5rem 0;
}
p{
  width: 100%;
  text-align: center;
}
::ng-deep .snackbar-success {
  background-color: green;
  color:white;
}
::ng-deep .snackbar-fail{
  background-color: red;
  color:  white;
}
::ng-deep .snackbar-fail .mat-simple-snackbar-action,::ng-deep .snackbar-success .mat-simple-snackbar-action{
color: white;
}
.image_style{
  margin: .5rem;
  width: 60%;
  min-height: 20%;
  max-height: 17rem !important;
}
.image_container{
  padding: .5rem;
  margin: .5rem auto;
  border: 1px solid black;
  border-radius: 5px;
}
.image_container span{
  text-align: center;
}
