<div class="container" fxFlex="80%" fxFlex.sm="100%" fxFlex.xm="100%" fxLayout.xs="column wrap">
  <mat-card class="mat-elevation-z8" fxLayout="column wrap" fxLayout.lt-sm="column wrap" fxLayoutAlign="space-between centre">

    <form [formGroup]="saleForm" (ngSubmit)="saleService.index<0? submitSale():updateSale()">

      <mat-toolbar color="primary">
        Vehicle No
      </mat-toolbar>
      <p ><u>{{saleService.index<0?"Please enter vehicle number to proceed further":"Vehicle no can't be edited"}}</u></p>

      <mat-form-field appearance="outline">
        <mat-label>Enter vehicle no</mat-label>
        <input type="text" matInput required #vehicleNo (keyup)="findVehicle($event)" formControlName="vehicle_no" />
        <mat-error>Vehicle no is required</mat-error>
      </mat-form-field>


      <div *ngIf="saleService.index<0?vehicleExists:true">

        <mat-toolbar color="primary">
          Buyer details
        </mat-toolbar>
        <p ><u>Please enter buyer details below</u></p>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm=".5rem">
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput required formControlName="fullName"/>
            <mat-error>Full name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput required formControlName="email"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm=".5rem">
          <mat-form-field appearance="outline">
            <mat-label>Phone no</mat-label>
            <input type="number" matInput required formControlName="phone_no"/>
            <mat-error>Phone no is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input type="text" matInput required formControlName="address"/>
            <mat-error>Address is required</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm=".5rem">
          <mat-form-field appearance="outline">
            <mat-label>Postal/Zip code</mat-label>
            <input type="number" matInput required formControlName="postal_code"/>
            <mat-error>Zip code is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Sold date</mat-label>
            <input type="date" matInput required formControlName="sold_date"/>
            <mat-error>Sold date is required</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm=".5rem">
          <mat-form-field appearance="outline">
            <mat-label>Sold amount</mat-label>
            <input type="number" matInput required formControlName="sold_amount"/>
            <mat-error>Sold amount is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Balance amount</mat-label>
            <input type="number" matInput required formControlName="balance_amount" />
            <mat-error>Balance amount is required</mat-error>
          </mat-form-field>
        </div>

        <mat-toolbar color="primary">
          Buyer documents
        </mat-toolbar>
        <p ><u>Please upload below documents (only Images)</u></p>

        <div class="image_container" fxLayoutAlign="space-between centre" fxLayout.lt-sm="column wrap" fxLayout.gt-sm="row wrap">
          <span>Adhaaar card*</span>
          <img [src]=" imagesUrl.documents.adhaar_card" class="image_style" alt="upload adhaar card here" (click)="adhaarCard.click()"/>
          <input type="file" hidden required #adhaarCard (change)="documentChange($event,'adhaarCard')" accept="image/*"/>
        </div>

        <div class="image_container" fxLayoutAlign="space-between centre" fxLayout.lt-sm="column wrap" fxLayout.gt-sm="row wrap">
          <span>Agreement or any other relevant document*</span>
          <img [src]="imagesUrl.documents.agreement" class="image_style" alt="upload agreement here" (click)="agreement.click()"/>
          <input type="file" hidden required #agreement  (change)="documentChange($event,'agreement')" accept="image/*"/>
        </div>

        <div fxLayoutAlign="space-between centre" *ngIf="saleService.index<0">
          <button  mat-raised-button color="accent" type="reset" (click)=" resetForm()">reset</button>
          <button mat-raised-button color="primary" [disabled]="!(imagesUrl.documents.adhaar_card ||imagesUrl.documents.agreement)">Submit</button>
        </div>

        <div fxLayoutAlign="space-around centre" *ngIf="saleService.index>=0">
          <button mat-raised-button color="primary" fxLayout="40%" [disabled]="!(imagesUrl.documents.adhaar_card ||imagesUrl.documents.agreement)">Submit</button>
        </div>

      </div>

    </form>
  </mat-card>
</div>
