.container{
  margin: 1rem auto;
 }
.mat-card-header{
  height: 25px;
  width: 100%;
  text-decoration: solid;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid grey;
  padding: 2px;
  margin: 10px 0;
  border-radius: 5px;
}
mat-form-field{
  width: 100%;
}
button{
  height: fit-content;
  margin: 0 .5rem;
}
mat-toolbar{
  margin: .5rem 0;
}
p{
  width: 100%;
  text-align: center;
}
::ng-deep .snackbar-success {
  background-color: green;
  color:white;
}
::ng-deep .snackbar-fail{
  background-color: red;
  color:  white;
}
::ng-deep .snackbar-fail .mat-simple-snackbar-action,::ng-deep .snackbar-success .mat-simple-snackbar-action{
color: white;
}
.image_style{
  width: 60%;
  min-height: 20%;
  max-height: 17rem !important;
}
.image_container{
  overflow: hidden;
  padding: .5rem;
  margin: .4rem 0;
  border: 1px solid black;
  border-radius: 5px;
}
.image_container span{
  text-align: center;
}
.multiselect-dropdown{
  width: 96%;
}
.d-none{
  display: none;
}
