.container{
  margin: 10px auto;
}

.mat-form-field{
  width: 100%;
}

.documentheading{
  font-size: 14px;
  font-weight: bold;
  button{
    width: 120px !important;
    padding: 0px 10px;
  }
}

.action_button{
  button{
    margin:5px;
  }
}

.image_container{
  margin-top: 8px;
  img{
    width: 100%;
    height:300px
  }
}

.document_name{
 margin-top:10px;
}
.container_header{
  margin-left:-30px;
  font-size: 20px;
}
