
.container{
  margin: 8px auto;
}

.purchaseList{
  width: 100%;
  td, th {
    text-align: center !important;
  }
}


.addpurchase{
  margin-left: 40px;
}
.searchbar{
  .mat-form-field{
    min-width: 100px;
    width: 20%;
    margin-left: 2.5rem;
   }
   button{
    height: 32px;
   }
}
