
.container{
  margin: 8px auto;
}

.purchaseList{
  width: 100%;
  td, th {
    text-align: center !important;
  }
}


.addpurchase{
  margin-left: 40px;
}
.searchbar{
  .mat-form-field{
    width: 30%;
    margin-left: 2.5rem;
    color: black;
  }
}
