
.container{
  margin: 0px auto;
}

.purchaseList{
  border: 1px solid rgba(0, 0, 0, 0.429);
  border-top:none;
  width: 100%;
  td, th {
    text-align: center !important;
  }
}
.purchaseHeading{
  border: 1px solid rgba(0, 0, 0, 0.429);
  background-color:rgb(226, 226, 226);
}

.addPurchasebtn{
margin:5px;
color:white;
}

.searchbar{
  height: 60px;
 mat-form-field{
  padding-top:14px;
  font-size: 12px;
 }
}

.Heading_name{
  padding:6px ;
  font-size: 18px;
}

.mat-table{
  overflow-y: scroll;
}
