/* You can add global styles to this file, and also import other style files */
@import url("../node_modules//ngx-toastr/toastr.css");
@import url("../node_modules/sweetalert2/dist/sweetalert2.css");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
}
