<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

<footer class=" container  ">
  <div class="header-name">
    <span>LeLafe.com</span>
  </div>
  <div class=" nav-tools h6" fxLayout.lt-sm ="column">
      <a routerLink="/admin/dashboard"  fxFlex.lt-sm="26px">Home</a>
      <a routerLink="/admin/sales/saleslist" fxFlex.lt-sm="26px">Sales</a>
      <a routerLink="/admin/purchase/purchaselist" fxFlex.lt-sm="26px">Purchase</a>
      <a routerLink="/admin/dashboard" fxFlex.lt-sm="26px">Contact</a>
  </div>

  <div class="social-media">
    <button mat-icon-button>
      <mat-icon>face</mat-icon>
    </button><button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button><button mat-icon-button>
      <mat-icon>loyalty</mat-icon>
    </button><button mat-icon-button >
      <mat-icon>room</mat-icon>
    </button>
  </div>
 <div class="copyright">
    © 2023 Copyright:
    <a href="#!">LeLafe.com</a>
  </div>
</footer>
