.container{
  // background-image: linear-gradient(#197850,#197850,#197850,rgba(250, 181, 34,0.9));

  position:relative;
   bottom:-30px;
   width: 100%;
   text-align: center;
   color: white;
}
.top-div{
padding: 10px;
}
.top-link{
  text-decoration: none;
  color: white;
}
.nav-tools{
margin-top: 20px;
padding: 30px;
justify-content: center;
text-align: left;
}

.nav-tools span{
  font-size: 15px;
  text-decoration: none;
  margin: 5px 50px;
}
.nav-tools span h3{
  margin-bottom: 5px;
}
.nav-tools span a{
  text-decoration: none;
  color: white;
}

.social-media{
  margin-top: 20px;;
}

.social-media button{
  // color: black;
  margin: 0 20px;
}

.copyright{
  background-color: rgba($color: rgb(5, 0, 0), $alpha: 0.5);
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 90%;
  margin: 0 auto;
}
.copyright a{
  text-decoration: none;
}
