<div class="sidenav_container theme-background-color btn-color">
  <div class="sidenavHeading">
    <div class="logocontainer">
      <h2>CRM</h2>
    </div>
    <hr>
  </div>

  <div class="header-action" fxLayout="column">
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">
      <div fxLayoutAlign="space-around"><mat-icon>home</mat-icon>HOME</div>
      </button>
    <button mat-button routerLink="/admin/sales/saleslist" routerLinkActive="active">
      <div fxLayoutAlign="space-around"><mat-icon>redeem</mat-icon>SALES</div>
    </button>
    <button mat-button routerLink="/admin/purchase" routerLinkActive="active">
      <div fxLayoutAlign="space-around"><mat-icon>commute</mat-icon>PURCHASES</div>
    </button>
    </div>
    <hr>
    <div fxLayout="column">
    <button mat-button class="logout" >Logout</button>
  </div>
</div>
