mat-toolbar{
  height: 50px;
  color: white;
}

.header-action{
  .mat-button{
    margin: 0px 10px;
     font-size: 16px;
  }
  .mat-button:hover{
      background-color: rgba(0, 0, 0, 0.411);
  }


}

.home{
font-size: 26px;
mat-icon{
  margin-bottom: 4px;
  margin-right: 8px;
}
}

.active{
  background-color: rgba(7, 37, 25, 0.249);
  border-bottom: 3px solid #fab522;
}

.logout{
  background-color: #fab522;
}
