
mat-card{
    text-align: center;
    margin: 4px;
    &:hover{
        cursor: pointer;
        background-color: #fab522;
        color: black;
        mat-icon{
            color: black;
        }
        h2{
            font-size: 2.5rem;
        }
    }
}

.widgetname{
    font-size: 1.1rem;
    font-weight: bold;
}
h2{
    font-size: 2.2rem;
    font-weight: bold;
}

.topwidgeticon{
    height: 40px;
    width: 40px;
    font-size: 40px;
}
