<div class="container" fxFlex="80%" fxFlex.lt-md="100%">
  <mat-card class="mat-elevation-z8">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="salesHeading" fxLayout.lt-sm="column">
      <span class="Heading_name"> Sales List</span>

      <div class="search-input" *ngIf="salesList">
        <mat-form-field floatLabel="never" appearance="outline">
          <input matInput type="text" placeholder="search by vehicle no" [(ngModel)]="sharedService.searchData"
            autocomplete="off" (keyup)="filterData()">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="sharedService.clearSearch()"
            *ngIf="sharedService.searchData">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
      <button class="add-sales theme-background-color" mat-raised-button (click)="router.navigateByUrl('/admin/sales/addsale')">Add sale</button>
    </div>
    </div>

    <div *ngIf="salesList">
      <table mat-table [dataSource]="salesList"  class="salesList" style="overflow-x: scroll">

        <ng-container matColumnDef="vehicle_no">
          <th mat-header-cell *matHeaderCellDef>Vehicle no</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.vehicle_no|uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Buyer name</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="sold_date">
          <th mat-header-cell *matHeaderCellDef>Sold date</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.solddate| date:'dd-MM-yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="phone_no">
          <th mat-header-cell *matHeaderCellDef>Phone No.</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.phone_no}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let buyer">
            <button mat-icon-button color="primary"><mat-icon>visibility</mat-icon></button>
            <button class="update-button" color="primary" mat-icon-button (click)="updateSale(buyer.vehicle_no)">
              <mat-icon>create</mat-icon>
            </button>
            <button class="delete-button" color="warn"  mat-icon-button (click)="deleteSale(buyer.vehicle_no)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
      <span *ngIf="!salesList.filteredData.length"> No matching sale for "{{sharedService.searchData}}"</span>
      <mat-paginator #paginator [pageSizeOptions]="[20,50,100]" [pageSize]="10"  (page)="pageEvent($event)"></mat-paginator>
    </div>
    <div>
      <span *ngIf="!salesList">No sales yet "please add sale first"</span>
    </div>
  </mat-card>
</div>
