.container {
  margin:0px auto;
}
.add-sales{
  color: white;
  margin : 6px;
}

.mat-table{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.429);
}
.salesList{
  td, th {
    text-align: center !important;
  }
}
.hide {
  display: none;
}

.search-input {
  display: flex;
  justify-content: center;
}

.search-input {
height: 50px;
width:40%;
margin-bottom: 10px;
  mat-form-field {
    width: 100%;
  }
}
.Heading_name{
  padding:6px ;
  font-size: 22px;
}
.salesHeading{
  border: 1px solid rgba(0, 0, 0, 0.429);
  background-color:rgb(226, 226, 226);
  border-bottom: none;
}
