.container {
  margin:8px auto;
}
.add-sales{
  color: white;
  margin : 6px;
}

table{
  overflow: scroll;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.429);
}
th.mat-header-cell,td.mat-cell{
  text-align: center;
  padding: 0 2rem;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{
  text-align: center;
  padding:0;
}
button {
  margin: 0.1rem .1rem;
}

.hide {
  display: none;
}

.search-input {
  display: flex;
  justify-content: center;
}

.search-input {
height: 50px;
width:50%;
margin-bottom: 10px;
  mat-form-field {
    width: 100%;
  }
}


.Heading_name{
  padding:6px ;
  font-size: 22px;
}
.salesHeading{
  border: 1px solid rgba(0, 0, 0, 0.429);
  background-color:rgb(226, 226, 226);
  border-bottom: none;
}
