.container{
  margin: 1rem 1rem;
}
table{
  width: 100%;
}
mat-card{
  overflow: auto;
}
 button{
  margin: 0.1rem .1rem;
}
.hide{
  display: none;
}
.search-input{
  display: flex;
  justify-content: center;
}
.search-input mat-form-field{
  width: 70%;
}
::ng-deep .snackbar-success {
  background-color: green;
  color:white;
}
::ng-deep .snackbar-fail{
  background-color: red;
  color:  white;
}
::ng-deep .snackbar-fail .mat-simple-snackbar-action,::ng-deep .snackbar-success .mat-simple-snackbar-action{
color: white;
}
