<div class="container">
  <mat-card class="mat-elevation-z8">

    <mat-toolbar fxLayoutAlign="space-between centre">
      Sales List
      <button mat-raised-button (click)="router.navigateByUrl('/admin/sales/addsale')" color="primary">Add sale</button>
    </mat-toolbar>

      <div class="search-input" *ngIf="salesList">
        <mat-form-field floatLabel="never" appearance="outline">
          <input matInput type="text" placeholder="search by vehicle no" [(ngModel)]="sharedService.searchData"
            autocomplete="off" (keyup)="filterData()">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="sharedService.clearSearch(salesList)"
            *ngIf="sharedService.searchData">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    <div *ngIf="salesList">
      <table mat-table [dataSource]="salesList" fxLayout.lt-sm="column wrap" fxLayout.lt-md="column wrap">

        <ng-container matColumnDef="sNo" sticky>
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="vehicle_no">
          <th mat-header-cell *matHeaderCellDef>Vehicle no</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.vehicle_no|uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Buyer name</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="sold_date">
          <th mat-header-cell *matHeaderCellDef>Sold date</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.sold_date| date:'dd-MM-yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="bill_no">
          <th mat-header-cell *matHeaderCellDef>Bill No</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.bill_no}} </td>
        </ng-container>

        <ng-container matColumnDef="adhaar_no">
          <th mat-header-cell *matHeaderCellDef>Adhaar No</th>
          <td mat-cell *matCellDef="let buyer"> {{buyer.adhaar_no}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let buyer">
            <button mat-icon-button color="primary" (click)="updateSale(buyer.vehicle_no)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteSale(buyer.vehicle_no)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
      <span *ngIf="!salesList.filteredData.length"> No matching sale for "{{sharedService.searchData}}"</span>
      <mat-paginator [pageSize]="20" showFirstLastButtons></mat-paginator>
    </div>
    <div>
      <span *ngIf="!salesList">No sales yet "please add sale first"</span>
    </div>
  </mat-card>
</div>
